<div class="container">
  <div class="row" id="minhieght_top">
    <div class="col-md-4 col-md-offset-4 col-xs-8 col-xs-offset-2 text-center">

      <!--<a href="/#/feed" class="btn btn-Danger" data-ng-click="clearSearch()" ng-model="newStatus.title">Clear</a>-->
    </div>

    <!--      <button type="button" ng-click="clickedAddSpotButton()" class="btn btn-Danger">Create</button>-->
  </div>

  <!--Need to change model to "newSpot...etc-->
  <div class="row" style="background-color: #eee margin-top: 20px;">
    <div class="col-xs-12" style="background-color: #eee;" id="createbox">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
          <div class="panel panel-default" style="margin-top: 25px;">
            <div class="panel-body" id="createpanelbox">
              <div class="row" style="margin-bottom: 20px">
                <div class="col-xs-offset-1 col-xs-10">
                  <input type="text" class="form-control" placeholder="Spot Name" ng-model="newStatus.title">
                </div>
              </div>
              <div class="row" style="margin-bottom: 20px">
                <div class="col-xs-offset-1 col-xs-10">
                  <input type="text" class="form-control" placeholder="Spot Picture or Video Upload" ng-model="newStatus.mediaUrl">
                </div>
              </div>
              <div class="row" style="margin-bottom: 20px">
                <div class="col-xs-offset-1 col-xs-10">
                  <input type="text" class="form-control" placeholder="Spot Description" ng-model="newStatus.description">
                </div>
              </div>
              <div class="row" style="margin-bottom: 20px">
                <div class="col-xs-offset-1 col-xs-10">
                  <input type="text" class="form-control" placeholder="Spot Address" ng-model="newStatus.address">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="margin-top:25px;">
          <div class="col-md-4 col-md-offset-4 col-xs-8 col-xs-offset-2 text-center">
            <a href="/#/spotz" ng-click="clickedAddSpotButton()" class="btn-lg btn" id="statusbtn">Create Spot</a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-md-offset-4 col-xs-8 col-xs-offset-2 text-center">
            <br>
            <a href="/#/feed" ng-click="clearSearch()" class="btn-lg btn" style="margin-bottom: 20px;" id="statusbtn">Clear</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--etc-->

<!--
<input type="button" value="Clear" onclick="clear();">
<textarea id='output' rows=20 cols=90></textarea>
-->




<!-- On create button click a "SUCCESS" text should appear at the bottom of the screen-->