body {
  padding-bottom: 40px;
  background-color: white;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#feedcol {
  background-color: red;
  border-radius: 5px;
  margin-top: 25px;
}

#statusbtn {
  display: block;
  width: 100%;
  height: 50px;
  background: #d74338;
  padding: 10px;
  /*	text-align: center;*/
  
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

#userPicSize {
  height: 40px;
  width: 40px;
  margin-left: 5px;
}

#postbox {
  margin-top: 25px;
  margin-bottom: 25px;
}

#searchbox {
  margin-top: 50px;
  margin-bottom: 30px;
}

#mapview {
  margin-bottom: 25px;
  margin-top: 25px;
}

body {
  padding-top: 70px;
}

#angular-google-map-container {
  height: 400px;
}

#createbox {
  margin-top: 25px;
  margin-bottom: 25px;
}

#mapsize {
  height: 350px;
  width: 100%;
  border: 3px;
}

#userPostBox {
  margin-bottom: 60px;
  margin-top: 60px;
}

#create_vid_pic_input {
  margin-bottom: 20px;
  margin-top: 20px;
}

#createpanelbox {
  margin-bottom: 15px;
  margin-top: 25px;
}

.commentlikeicons {
  margin-top: 10px;
  margin-bottom: 10px;
}

.well {
  background-color: #F2F2F2 !important;
  background: none;
  color: black;
}

.username {
  color: blue;
}

#topWhiteHeader {
  margin-top: 50px;
}

#spotspanelbox {
  margin-bottom: 25px;
  margin-top: 25px;
}

#minhieght_top {
  min-height: 50px;
}

#ProfilePicSize {
  height: 250px;
  width: 250px;
}