<div ng-controller="feedCtrl">
    <div class="container">

        <div class="row">
            <div class="col-xs-12 col-xs-offset-5">
                <a href="/#/feedstatus" class="glyphicon glyphicon-film btn-lg" style="color: black;"> STATUS</a>
            </div>
            <div class="row" ng-repeat="post in feeds">
                <div class="col-xs-6 col-xs-offset-3 text-center">
                    <div class="row">
                        <div class="col-xl-12">
                            {{post.uploadDate}}

                            <br> {{post.title}}
                            <br>
                            <img ng-src="{{post.mediaUrl}}" class="center-block">
                            <br> {{post.description}}
                            <br>{{post.user_id}}
                        </div>

                        <div ng-repeat="comment in post.commentArray">
                            {{comment.text}}
                            <br> {{comment.user_id}}
                            <br> {{comment.commentDate}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--<button type="button" ng-click="statusPostButton()">Status</button>-->
</div>
